.hero-toolbar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
  }
  
  .hero-icon {
    width: auto;
    height: 20px;
    margin-right: 12px;
  }
  
  .toggle-icon{
    width: auto;
    height: 32px;
  }

  .favorites-icon{
    width: auto;
    height: 14px;

  }

  .sort-button,
  .favorites-button {
    display: flex;
    align-items: center;
  }

  .sort-button{
    gap: 20px;
  }
  
.favorites-button {
    gap: 12px;
    margin-left: 25px;
}

  .favorites-button.active {
    color: var(--red-4); 
  }

.hero-toolbar-left {
    padding: 0px;
    color: var(--grey-3);
}


    .hero-toolbar-right {
        display: flex;
        justify-content: flex-end; 
        padding-left: 360px;
      }



h5 {
    color: var(--red-3);
    font-size: 14px;
}
