:root {
  font-family: 'Work Sans', sans-serif;

  /* red */
  --red-1: #fdecec;
  --red-2: #fa7c7c;
  --red-3: #fa8787;
  --red-4: #ff0b0b;
  --red-5: #ff1510;
  --red-6: #e92429;

  /* blue */
  --blue-1: #e7f6e7;
  /* 
  grey */
  --grey-1: #404040;
  --grey-2: #8c8c8c;
  --grey-3: #b9b9b9;
  --grey-4: #bdbdbd;
  --grey-5: #6d706d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
