:root {
  font-family:  "Merriweather Sans", sans-serif;

  /* red */
  --red-1: #fdecec;
  --red-2: #fa7c7c;
  --red-3: #fa8787;
  --red-4: #ff0b0b;
  --red-5: #ff1510;
  --red-6: #e92429;
/* 
  grey */
  --grey-1: #404040; 
  --grey-2: #464646; 
  --grey-3: #969696; 
  --grey-4: #bdbdbd;
  --grey-5: #6d706d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

