home-container {
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 10px 0;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--grey-2);
    text-align: center;
}

p {
    font-size: 14px;
    color: var(--grey-3);
    text-align: center;
    
}

.search-bar-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
}