.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 48px;
    border: 1px solid transparent;
    border-radius: 32px;
    padding: 24px;
    height: 66px;
    width: 100%;
    max-width: 810px;
    background-color: var(--red-1);
    color: var(--red-3);
}

.search-icon {
    width: 30px;
    height: 30px;
    margin-inline-start: 12px;
    cursor: pointer;
}

.search-input {
    border: none;
    outline: none;
    padding: 44px;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: var(--red-3);
}

.search-input::placeholder {
    color: var(--red-3);
}