.footer {
    background-color: var(--red-5) ;
    position: relative;
    height: 80px;
    margin-block-start: 10rem;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 12px;
  }

  .footer p {
    color: #fff;
  }